body {
    background-color: #1F2937;
}

.navbar {
    background-color: #1F2937;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 25px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 25px;
}

nav {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -75px;
    margin-left: 350px;
    display: flex;
    justify-content: space-between;
    
}

.text {
    color: #E5E7EB;
    margin-top: -35px;
    margin-left: 25px;
}

.img {
    border: 1px solid gray;
    margin-top: -200px;
    margin-left: 400px;
    margin-bottom: 50px;
    height: 200px;
    width: 300px;
    background-color: gray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

button {
    background-color: #3e68ff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.18);
    margin-left: 25px;
}

.info {
    background-color: #fff;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.box1 {
    width: 100px;
    height: 100px;
    border: 2.5px solid black;
    border-radius: 10px;
    border-color: #3882F6;
    margin-top: -100px;
    display: flex;
    justify-content: center;
}

.img-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    margin: 100px;
}
